body {
  margin: 0;
  background-color: black;
  font-family: sans-serif;
  font-size: 14px;
  overflow: hidden;
}

.game-container {
  display: flex;
  gap: 0;
  width: 100vw;
  height: 100vh;
}

.game-wrapper {
  position: relative;
  flex: 1;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
}

@media (max-width: 1024px) {
  .game-container {
    flex-direction: column;
    height: 100vh;
  }

  .game-wrapper {
    height: 50vh;
  }
}

@media (max-width: 768px) {
  .controls-container {
    flex-direction: column;
    gap: 20px;
  }

  .cool-controls {
    width: 100%;
    max-width: 400px;
  }
}

.score-container {
  position: absolute;
  z-index: 10;
  color: white;
  left: 10px;
  top: 10px;
  margin: 0;
  font-family: sans-serif;
  font-size: 15px;
}

#startScreen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black url('/images/startScreenBackground.png');
  z-index: 20;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

#startButton {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.start-label {
  position: absolute;
  color: white;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

.title-text {
  font-size: 48px;
  margin: 0;
  color: white;
}

.controls-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cool-controls {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid #039f81;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #039f81;
  margin-top: 20px;
  /* text-align: left; */
  width: 300px;
}

.cool-controls > *:first-child {
  text-align: center;
}

.controls-title {
  font-size: 24px;
  color: #039f81;
  margin-bottom: 15px;
  margin-top: 10px;
  text-shadow: 0 0 5px #039f81;
}

.control-item {
  font-size: 18px;
  color: #ffffff;
  margin: 5px 0;
  text-shadow: 0 0 5px #039f81;
}

.centered-text {
  text-align: center;
  color: white;
}

.game-over-text {
  font-size: 36px;
  margin: 0;
}

.final-score {
  font-size: 48px;
  margin: 10px 0;
}

.points-text {
  font-size: 24px;
  margin: 0;
}

.button-container {
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin-top: 20px;
}

.button-label {
  position: absolute;
  color: white;
  top: 50%;
  transform: translateY(-60%);
  left: 0;
  width: 100%;
  text-align: center;
}

#gameOver1,
#gameOver2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 15;
  display: none;
  align-items: center;
  justify-content: center;
}

#winScreen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black url('/images/startScreenBackground.png');
  z-index: 20;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
